.body {
  width: 80%;
  margin: auto;
}
.filter-container {
  display: flex;
}

.filter-container > div {
  margin: 20px;
}

.filter-btn > button {
  margin-right: 15px;
}

.search > button {
  margin-left: 10px;
}

.search > input,
.search > button,
.filter-btn > button {
  padding: 7px;
}
