.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.logo > img {
  width: 45%;
}

.nav-list {
  width: 45%;
  font-size: 18px;
  margin-top: 40px;
}

.nav-list > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
